<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAF</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/car.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        {% comment %} <a href="{% url 'about' %}">About</a> {% endcomment %}
        <div class="dropdown">
            <a href="#">Garrage</a>
            <div class="dropdown-content">
                <a href="{% url 'scania' %}">SCANIA</a>
                <a href="{% url 'mecerdes' %}">MECERDES</a>
                <a href="{% url 'volvo' %}">VOLVO</a>
                <a href="{% url 'daf' %}">DAF</a>
                <a href="{% url 'man' %}">MAN</a>
                <a href="{% url 'iveco' %}">IVECO</a>
                <a href="{% url 'renalt' %}">RENALT</a>
            </div>
        </div>
    </nav>
    <div class="content">
        <h3>Welcome To Daf Garrage</h3>
        <p> We are thrill to have you here please make your choice,<br>
        as we are here to give you value for your money</p>
    </div>
    <div class="car-container">
        <h3 class="het">Model: DAF CF 480 </h3>
        <div class="slider" id="slider46">
            <img src="{% static 'images/img daf/CF480 1.jpg'%}" class="active">
            <img src="{% static 'images/img daf/CF480 2.jpg'%}">
            <img src="{% static 'images/img daf/CF 480.jpg'%}">
            <img src="{% static 'images/img daf/CF480 3.jpg'%}">
            <img src="{% static 'images/img daf/CF480 6.jpg'%}">
            <img src="{% static 'images/img daf/CF480 5.jpg'%}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider46')">Previous</button>
            <button class="btn" onclick="nextImage('slider46')">Next</button>

    <p> 
 
        
        
        Description: 2018 DAF CF 480 FAD 8x4 with Hyva 26.57SK Hooklift - 480 hp, <br>
        Low Mileage - 175,467 km, Euro 6, Heavy-Duty 8x4 Axle Configuration, <br>
        Pneumatic Suspension, Alcoa Aluminum Wheels, <br>
        Ideal for Construction and Container Transport. <br>
        Clean, Tidy, and Ready for Work.<br>
        
        Condition: Working Perfectly <br>
        
        Engine power: 480HP<br>
        
        Price: €75,000</p>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>
    <br>
    <br>

    <div class="car-container">
        <h3 class="het">Model: DAF LF260</h3>
        <div class="slider" id="slider47">
            <img src="{% static 'images/img daf/LF260 1.jpg'%}" class="active">
            <img src="{% static 'images/img daf/LF260 2.jpg'%}">
            <img src="{% static 'images/img daf/LF260.jpg'%}">
            <img src="{% static 'images/img daf/LF260 3.jpg'%}">
            <img src="{% static 'images/img daf/LF260 5.jpg'%}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider47')">Previous</button>
            <button class="btn" onclick="nextImage('slider47')">Next</button>

    <p> 

        
        Description: 2019 DAF LF260 with ThermoKing<br> 
        T-600R Refrigeration Unit - 260 hp, 382,154 km, <br>
        Euro 6, 16,000 kg GVW, Air Suspension, AS-Tronic Gearbox, <br>
        Foldable Anteo Tail Lift, 60 mm Insulated Walls. <br>
        Perfect for Refrigerated Transport. Clean and Ready for Work.<br>
        
        Condition: Working Perfectly <br>
        
        Engine power: PACCAR PX7/ 260HP<br>
        
        Price: €40,000</p>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>
    <br>
    <br>
    
    <div class="car-container">
        <h3 class="het">Model:  DAF XF 480</h3>
        <div class="slider" id="slider48">
            <img src="{% static 'images/img daf/LXF480 1.jpg'%}" class="active">
            <img src="{% static 'images/img daf/LXF 480 10.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 2.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 4.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 5.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 6.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 7.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 9.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 11.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 12.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 13.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN1.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN4.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN5.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN6.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN8.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN9.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN10.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN11.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN13.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN14.jpg'%}">
            <img src="{% static 'images/img daf/LXF480 IN15.jpg'%}">
            <img src="{% static 'images/img daf/LXF480.jpg'%}">   
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider48')">Previous</button>
            <button class="btn" onclick="nextImage('slider48')">Next</button>

    <p> 

        
        Description: 2019 DAF XF 480 - 6x2 Show Truck, <br>
        Special Interior, Alcoa Wheels, Steering Axle, <br>
        Leather Seats, Music Installation, Low Mileage at 211,937 km, <br>
        480 hp, Well Maintained, Perfect for Long-Distance<br> 
        and Heavy-Duty Work, Clean and Tidy.<br>
        
        Condition: Working perfectly <br>
        
        Engine power: PACCAR MX-13/ 480HP<br>
        
        Price: €50,000</p>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>
    <br>

    <div class="car-container">
        <h3 class="het">Model: DAF XF 460</h3>
        <div class="slider" id="slider49">
            <img src="{% static 'images/img daf/WXF460 2.jpg'%}" class="active">
            <img src="{% static 'images/img daf/WXF460 3.jpg'%}">
            <img src="{% static 'images/img daf/WXF460 1.jpg'%}">
            <img src="{% static 'images/img daf/WXF460.jpg'%}">            
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider49')">Previous</button>
            <button class="btn" onclick="nextImage('slider49')">Next</button>

    <p> 

        
        
        Description: 2016 DAF XF 460 - 6x2 FTG Chassis, <br>
        Super Space Cab, 460 hp, 991,092 km, Well Maintained. <br>
        Perfect for Long-Distance Hauls, <br>
        Spacious and Comfortable Cab. Clean and Tidy.<br>
        
        Condition: Working perfectly <br>
        
        Engine power: PACCAR MX-13/ 460HP<br>
        
        Price: €20,000</p>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>
    <br>

    <div class="car-container">
        <h3 class="het">Model: DAF XF 480</h3>
        <div class="slider" id="slider50">
            <img src="{% static 'images/img daf/XF 480 1.jpg'%}" class="active">
            <img src="{% static 'images/img daf/XF 480 3.jpg'%}">
            <img src="{% static 'images/img daf/XF 480 5.jpg'%}">
            <img src="{% static 'images/img daf/XF 480 6.jpg'%}">
            <img src="{% static 'images/img daf/XF 480 7.jpg'%}">
            <img src="{% static 'images/img daf/XF480 IN1.jpg'%}">
            <img src="{% static 'images/img daf/XF480 IN.jpg'%}">
            <img src="{% static 'images/img daf/XF480 IN1.jpg'%}">
            <img src="{% static 'images/img daf/XF480 IN2.jpg'%}">
            <img src="{% static 'images/img daf/XF480 IN3.jpg'%}">
            <img src="{% static 'images/img daf/XF480 IN4.jpg'%}">
            <img src="{% static 'images/img daf/XF480 IN6.jpg'%}">
            <img src="{% static 'images/img daf/XF480 IN8.jpg'%}">
            <img src="{% static 'images/img daf/XF480 N1.jpg'%}">
            <img src="{% static 'images/img daf/XF480 N3.jpg'%}">
            <img src="{% static 'images/img daf/XF480 N2.jpg'%}">
            <img src="{% static 'images/img daf/XF480.jpg'%}">                            
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider50')">Previous</button>
            <button class="btn" onclick="nextImage('slider50')">Next</button>

    <p> 

        
        Description: 2018 DAF XF 480 - 6x2 Show Truck, <br>
        Top Condition, Special Interior, Leather Seats, <br>
        Steering Pusher, Pusher Axle, LZV Truck, Sliding Dish, <br>
        480 hp, 706,568 km, Well Maintained, <br>
        Perfect for Long and Heavy Hauls, Clean and Tidy.<br>
        
        Condition: Working perfectly <br>
        
        Engine power: PACCAR MX-13/ 480HP<br>
        
        Price: €45,000</p>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>
    <br>

    <div class="car-container">
        <h3 class="het">Model: DAF XF 460</h3>
        <div class="slider" id="slider51">
            <img src="{% static 'images/img daf/XF460 2.jpg'%}" class="active">            
            <img src="{% static 'images/img daf/XF460 3.jpg'%}">
            <img src="{% static 'images/img daf/XF460 1.jpg'%}">
            <img src="{% static 'images/img daf/XF460 4.jpg'%}">
            <img src="{% static 'images/img daf/XF460.jpg'%}">
            <img src="{% static 'images/img daf/XF460 6.jpg'%}">
            <img src="{% static 'images/img daf/XF460 5.jpg'%}">
            <img src="{% static 'images/img daf/XF460 7.jpg'%}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider51')">Previous</button>
            <button class="btn" onclick="nextImage('slider51')">Next</button>

    <p> 

        
        Description: 2015 DAF XF 460 SSC - 4x2, Super Space Cab, <br>
        459 hp, 12-Speed AS-Tronic, Hydraulic Installation, <br>
        Alcoa Rims, Pneumatic Suspension, 845L Fuel Tank, <br>
        1,031,939 km, Euro 6, Cruise Control, Digital Tachograph, <br>
        Air Conditioning, Stationary Heater, Multicolored Exterior, <br>
        Well Maintained. Clean and Tidy.<br>
        
        Condition: Working perfectly <br>
        
        Engine power: 459HP<br>
        
        Price: €13,000</p>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>
    <br>

    <div class="car-container">
        <h3 class="het">Model: DAF XF 530</h3>
        <div class="slider" id="slider52">
            <img src="{% static 'images/img daf/XF530 3.jpg'%}" class="active">
            <img src="{% static 'images/img daf/XF530 1.jpg'%}">
            <img src="{% static 'images/img daf/XF530 2.jpg'%}">
            <img src="{% static 'images/img daf/XF530 4.jpg'%}">
            <img src="{% static 'images/img daf/XF530 5.jpg'%}">
            <img src="{% static 'images/img daf/XF530 6.jpg'%}">
            <img src="{% static 'images/img daf/XF530 14.jpg'%}">
            <img src="{% static 'images/img daf/XF530 15.jpg'%}">
            <img src="{% static 'images/img daf/XF530.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN1.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN2.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN5.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN6.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN7.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN8.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN9.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN10.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN11.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN12.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN13.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN14.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN15.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN16.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN17.jpg'%}">
            <img src="{% static 'images/img daf/XF530 IN18.jpg'%}">            
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider52')">Previous</button>
            <button class="btn" onclick="nextImage('slider52')">Next</button>
        
    <p>
        
        Description: 2020 DAF XF 530, Full Air Suspension, <br>
        4x2 Axle Configuration, 530 hp, Automatic Transmission, <br>
        318,292 km, DAF Dealer Maintained, Euro 6, Climate Control, <br>
        ABS, Cruise Control, Power Steering, Park Assist, Airbags, EBS, <br>
        Heating, Alarm, Anti-Slip Regulation, Electric Windows, <br>
        Extra Passenger Seat, Radio CD, Registered 10/2020, Clean and Tidy.<br>
        
        Condition: New<br>
        
        Engine power: PACCAR MX-13 530HP<br>
        
        Price: €50,000</p>


        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>
    <br>

    <div class="car-container">
        <h3 class="het">Model:  DAF XF 480</h3>
        <div class="slider" id="slider53">
            <img src="{% static 'images/img daf/YXF480 3.jpg'%}" class="active">
            <img src="{% static 'images/img daf/YXF480 1.jpg'%}">
            <img src="{% static 'images/img daf/YXF480 2.jpg'%}">
            <img src="{% static 'images/img daf/YXF480 6.jpg'%}">
            <img src="{% static 'images/img daf/YXF480 5.jpg'%}">
            <img src="{% static 'images/img daf/YXF480.jpg'%}">
            <img src="{% static 'images/img daf/YXF480 7.jpg'%}">        
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider53')">Previous</button>
            <button class="btn" onclick="nextImage('slider53')">Next</button>

    <p> 

        
        Description: DAF XF 480 - 6x2 Show Truck, <br>
        Special Interior, Low Mileage, Alcoa Wheels, <br>
        Steering Axle, Music Installation, Leather Seats, <br>
        480 hp, Perfect for Long-Distance Hauls. <br>
        Dealer maintained, Well-Maintained, Clean and Tidy.<br>
        
        Condition: Working perfectly <br>
        
        Engine power: PACCAR MX-13/480HP<br>
        
        Price: €15,000</p>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>


    <script src="{% static 'java/sliding.js' %}"></script>
</body>
</html>